html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* border: 1px solid blue; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Edit below this. Above code for reseting */

.logo {
  width: 38px;
  height: auto;
}

.icon {
  width: 40px;
  height: auto;
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-form {
  display: none;
  position: absolute;
  width: 75%;
  background: beige;
  border: 4px ridge green;
  height: 355px;
  border-radius: 20px;
  top: 20%;
  padding: 8px 12px;
}

form p {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

form p span.status-option {
  display: grid;
  margin-left: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
form p:first-child {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 54px 0px;
  padding-bottom: 10px;
}

form p:first-child span {
  font-size: 35px;
  font-weight: 900;
  align-self: center;
  justify-self: center;
}

label {
  font-size: 26px;
}

input {
  font-size: 26px;
  align-self: center;
  border-radius: 20px;
  padding: 1px 15px;
}

.bookshelf {
  display: grid;
  grid-template-rows: 1fr 5fr;
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
  /* border: 15px groove red; */
  /* margin: 10px; */
  /* border-radius: 20px; */
}

.shelf-header {
  display: grid;
  grid-template-columns: 1fr 66px;
  align-items: center;
  padding: 10px;
}

.shelf-header h1 {
  font-size: 50px;
  justify-self: center;
  align-self: center;
  color: #f37c7f;
}

.shelf-body {
  border: 8px groove red;
  border-radius: 20px;
  overflow: scroll;
}

.shelf-body .row,
.shelf-body .book {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 0.3fr;
  border-bottom: 1px solid black;
  /* justify-items: center; */
  /* border-right: 1px solid; */
  padding: 10px;
}

.book .book-icon {
  width: 70px;
  height: auto;
}

.row *,
.book * {
  justify-self: center;
  align-self: center;
}

.status {
  cursor: pointer;
}

.add-btn {
  width: 45px;
  height: auto;
  cursor: pointer;
  border: 2px groove green;
  border-radius: 7px;
}

.add-btn:hover {
  box-shadow: 3px 3px 10px -1px green, -3px -3px 10px -1px;
}

.row * {
  border: 1px so;
  font-size: 30px;
}

.shelf-body .row {
  padding: 10px;
}

.book * {
  font-size: 21px;
}

.shelf-body .book {
  border: 1px solid #f37c7f;
  margin: 16px 10px;
  border-radius: 24px;
  box-shadow: 12px 18px 14px -12px black;
  background: #f37c7f;
  color: #f7f7f7;
}

.read {
  color: black;
  border: 2px ridge black;
  background: green;
  padding: 5px 20px;
  border-radius: 15px;
}

.not-read {
  color: black;
  border: 2px ridge black;
  background: red;
  padding: 5px 20px;
  border-radius: 15px;
}

.icon:hover {
  width: 50px;
}

.row > img:hover {
  width: 40px;
}

.read:hover {
  background: green;
  padding: 8px 28px;
  font-size: 24px;
}

.not-read:hover {
  background: red;
  padding: 8px 25px;
  font-size: 24px;
}

form p {
  margin: 12px 9px;
}

.submit {
  width: 180px;
  height: 30px;
  border-radius: 20px;
  border: 2px outset black;
  margin-top: 10px;
  display: block;
  margin: 22px auto;
  font-size: 19px;
}

.submit:hover {
  width: 190px;
  height: 40px;
  box-shadow: 3px 3px 7px black;
  cursor: pointer;
}
