html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 1px solid blue;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Edit below this. Above code for reseting */

.logo {
  width: 38px;
  height: auto;
}

.icon {
  width: 40px;
  height: auto;
  justify-self: end;
  align-self: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-form {
  position: absolute;
}

.bookshelf {
  display: grid;
  grid-template-rows: 1fr 5fr;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

.shelf-header {
  display: grid;
  grid-template-columns: 1fr 49px;
}

.shelf-header h1 {
  font-size: 50px;
  justify-self: center;
  align-self: center;
}

.shelf-body {
  border: 4px solid green;
}

.shelf-body .row,
.shelf-body .book {
  display: grid;
  grid-template-columns: 80px 2fr 2fr 0.5fr 0.5fr 0.3fr;
}

.book .book-icon {
  width: 70px;
  height: auto;
}

.row *,
.book * {
  justify-self: center;
  align-self: center;
}
